*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #aaa;
  font-family: "Consolas", "Courier New", Courier, monospace;
  font-weight: bold;
}
html {
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: #333;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 62.5rem;
  height: 9.375rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  background: #222;
}
.header .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .label {
  align-self: flex-start;
  margin: 0 0 0.25rem 0.75rem;
  font-size: 1.75rem;
  letter-spacing: -0.1rem;
}
.header .containerInputs input[type="number"] {
  width: 20rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 0.75rem;
  background: #fff;
  color: #222;
}
.header .containerInputs input[type="number"].erro {
  background: darkred;
  color: #fff;
  filter: brightness(0.75);
}
.header .containerInputs input[type="button"] {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: darkcyan;
  color: #fff;
}
.header .containerInputs input[type="button"]:hover {
  filter: brightness(120%);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62.5rem;
  height: 34.375rem;
  margin: 3.125rem 0;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  background: #222;
}
.container .resultado {
  flex: 1;
  display: grid;
  grid: auto / 1fr 2fr;
  align-items: center;
  height: calc(100% - 4rem);
  margin: 2rem;
  padding: 2rem 5rem;
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: -0.1rem;
  border-radius: 0.75rem;
}
.container .resultado .erro {
  grid-column: 1 / 3;
  color: red;
  color: darkred;
  filter: brightness(1.5);
}
.footer {
  flex: 1;
  width: 62.5rem;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  background: #222;
}
.footer .autor {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #777;
}
.footer .autor span {
  font-size: 1.75rem;
  text-decoration: underline;
  color: #777;
}

@media (min-width: 2000px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 2250px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 2500px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 4px;
  }
}
